doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/assets/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/home.css')
        title Admin
    body
        form(action='http://localhost:8088/app/v1/admin/all_participants' ,='' method='get')
            button#register(type='submit') Get All Participants
        form(action='http://localhost:8088/app/v1/admin/unverified_participants' ,='' method='get')
            button#unverifiedParticipants(type='submit') Get All Participants
        br
        form(action='http://localhost:8088/app/v1/admin/verified_participants' ,='' method='get')
            button#verifiedParticipants(type='submit') Get All Participants
        br
        form#participantsByRegion(action='/app/v1/admin/participants_by_region' ,='' method='post')
            button(type='submit') Participants by Region
            label(for='region') Region:
            input#region(type='text' name='region' required='')
        br
        form#participantsByEducationalStatus(action='/app/v1/admin/participants_by_educational_status' ,='' method='post')
            button(type='submit') Participants by Educational Status
            label(for='educationalStatus') Educational Status:
            input#educationalStatus(type='text' name='educationalStatus' required='')