<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap core CSS -->
    <link href="./css/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/home.css" />
  </head>
  <body>
    <div class="container">
      <div class="row mx-md-4 px-lg-4 text-center mx-auto">
        <h1 class="w-75 mx-auto">
          NISGS South South Conference Registration Page
        </h1>
        <form id="register_participant" class="form-register">
          <div class="d-flex lh-lg mb-3">
            <label for="name" class="me-3"> Name: </label>
            <input class="form-control" type="text" name="name" id="name" />
          </div>
          <div class="d-flex lh-lg mb-3">
            <label for="email" class="me-3"> Email: </label>
            <input class="form-control" type="email" name="email" id="email" />
          </div>
          <div class="d-flex lh-lg mb-3">
            <label for="phoneNumber" class="me-3"> Phone: </label>
            <input
              class="form-control"
              type="text"
              name="phoneNumber"
              id="phoneNumber"
            />
          </div>
          <div class="d-flex lh-lg mb-3">
            <label class="me-3"> Gender: </label>
            <label class="d-flex me-2">
              <input
                class="form-check me-2"
                type="radio"
                name="gender"
                value="male"
              />
              Male
            </label>
            <label class="d-flex me-2">
              <input
                class="form-check me-2"
                type="radio"
                name="gender"
                value="female"
              />
              Female
            </label>
            <label class="d-flex">
              <input
                class="form-check me-2"
                type="radio"
                name="gender"
                value="other"
              />
              other
            </label>
          </div>
          <div class="d-flex lh-lg mb-3">
            <label for="educationalStatus" class="me-3"> Education: </label>
            <!-- <input
              class="form-control"
              type="text"
              name="educationalStatus"
              id="educationalStatus"
            /> -->
            <select
              name="educationalStatus"
              id="educationalStatus"
              class="text-secondary form-select form-control"
              aria-label=".form-select-lg example"
            >
              <option selected="">Select one</option>
              <option value="student">Student</option>
              <option value="graduate">Graduate</option>
            </select>
          </div>
          <div class="d-flex lh-lg mb-3">
            <label for="school" class="me-3"> School: </label>
            <input class="form-control" type="text" name="school" id="school" />
          </div>
          <div class="d-flex lh-lg mb-3">
            <label for="idCard" class="me-2">ID_Card: </label>
            <input type="file" class="form-control " id="idCard" />
          </div>
          <div class="d-flex lh-lg mb-3">
            <label for="region" class="me-3"> Region: </label>
            <input class="form-control" type="text" name="region" id="region" />
          </div>
          <div class="">
            <button
              class="btn btn-success w-100 fs-5 fw-light px-5"
              id="register"
              type="submit"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
    <script src="./assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
