doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    // Bootstrap core CSS
    link(href='/css/assets/dist/css/bootstrap.min.css' rel='stylesheet')
    link(rel='stylesheet' href='/css/home.css')
  body
    .container
      .row
        .col-12.text-center
          h1.h1.text-secondary.mb-4 Admin Login
          form#admin_login.form-group.form-control.d-flex.flex-column.form-login(action='')
            .mb-3.d-flex.lh-lg
              label.me-2.form-label(for='username') Username:
              input#username.form-control(type='text' name='username')
            .mb-3.d-flex.lh-lg
              label.me-2.form-label(for='password') Password:
              input#password.form-control(type='password' name='password')
            button#login.btn.btn-secondary(type='submit') Login
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js')
    script(src='/js/adminScript.js')