doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='./css/assets/dist/css/bootstrap.min.css' rel='stylesheet')
    link(rel='stylesheet' href='./css/home.css')
    title Success
  body.d-flex.justify-content-center.align-content-center.h-100
    div.container
      div.row
        div.col-12.d-flex.flex-column
          div.mb-3
            h1.fs-2.text-center.text-secondary Data Captured Successfully!
          div.mb-3
            p.fs-4.text-success.text-center You will receive a mail once your payment is verified.
          div
            a.btn.btn-outline-success.px-3.py-2.text-center(href='/register') home
